<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>portNumber</key>
	<string>6968</string>
	<key>certificateFile</key>
	<string>file:///Users/paxswill/Developer/School/CS472/SecureGateway/SStore/certChain.pem</string>
	<key>keyFile</key>
	<string>file:///Users/paxswill/Developer/School/CS472/SecureGateway/SStore/key.pem</string>
	<key>keyPassword</key>
	<string>webbCenter</string>
	<key>dbFile</key>
	<string>/Users/paxswill/Developer/School/CS472/SecureGateway/store.db</string>
	<key>dbPassword</key>
	<string>spongHall</string>
</dict>
</plist>
