<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>certificateFile</key>
	<string>file:///Users/paxswill/Developer/School/CS472/SecureGateway/AppGate/certChain.pem</string>
	<key>keyFile</key>
	<string>file:///Users/paxswill/Developer/School/CS472/SecureGateway/AppGate/key.pem</string>
	<key>keyPassword</key>
	<string>ecsBuilding</string>
	<key>portNumber</key>
	<integer>6968</integer>
	<key>storeHost</key>
	<string>127.0.0.1</string>
</dict>
</plist>
